<h2>Management - All Orders</h2>

@if (!isLoggedIn()) {
    <p>Please login.</p>
}
@else if (isLoading) {
    <p>Loading...</p>
}
@else if (isError) {
    <p>An error occured, maybe you don't have the right permissions?</p>
}
@else {
    @if (orders.length == 0) {
        <p>Order history is empty.</p>
    }
    @else {
        <div style="display: flex; flex-direction: column; gap: 10px">
        @for (order of orders; track order.id) {
            <mat-card>
                <mat-card-header>
                    <p>{{ order.time | date }}</p>
                </mat-card-header>

                <mat-card-content>
                    <p>
                        ID: {{ order.id }}
                        <br>
                        Item: {{ order.item.id }} {{ order.item.title }}
                        <br>
                        User ID: {{ order.userId }}
                        <br>
                        Delivary Address: {{ order.deliveryAddress }}
                        <br>
                        Status: {{ order.status }}
                    </p>
                </mat-card-content>
            </mat-card>
        }
        </div>
    }
}