<header>
    <mat-toolbar style="display: flex; flex-flow: row nowrap; justify-content: space-between;">
        <h1>ULTIMATE HANGOVER EMERGENCY RECOVERY DELIVERY SERVICE</h1>
        
        
        @if (isLoggedIn()) {
            <span>
                Hi {{ user()?.name }}!
                <button mat-icon-button matTooltip="Logout" (click)="logout()">
                    <mat-icon>logout</mat-icon>
                </button>
            </span>
        }
        @else {
            <button mat-button (click)="goToLogin()">Login</button>
        }


    </mat-toolbar>
</header>